<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- include social.html -%}
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">📧&nbsp;&nbsp;{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <!-- <div class="footer-col footer-col-2">
      </div> -->

      <div class="footer-col footer-col-3 tools">
        <p>实用小工具：</p>
        <ul>
          <li><a href="../tools/pintu.html">拼图小工具</a></li>
          <li><a href="../tools/compressor.html">图片压缩工具</a></li>
          <li><a href="../tools/imageprocessor.html">图片处理器</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">Copyright © 2025 Bonnie. All rights reserved.</div>
  </div>

</footer>
